<div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-container">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="encabezado">
          <h3>Agregar Etapa</h3>
          <div class="borderline"></div>
        </div>

        <div class="form-group">
          <label for="titulo">Titulo de la iniciativa</label>
          <input id="titulo" formControlName="title" />
        </div>
        <div class="form-group">
          <label for="descripcion">Descripcion de la etapa</label>
          <input id="descripcion" formControlName="description" />
        </div>
        <div class="form-group">
          <div class="labelduo">
            <label for="entregable">Entregable de la etapa</label>
            <img src="/assets/informacion.svg" alt="information">
          </div>
          <input id="entregable" formControlName="deliverableTask" />
        </div>
        
        <div class="form-group">
        <div class="labelduo">
          <label for="fechaInicio">Fecha Inicio</label>
          <img src="/assets/informacion.svg" alt="information">
        </div>
          <input id="fechaInicio" formControlName="startDate" />
        </div>

        <div  class="form-group">
        <div class="labelduo">
          <label for="fechaFin">Fecha Fin</label>
          <img src="/assets/informacion.svg" alt="information">
        </div>
          <input id="fechaFin" formControlName="endDate" />
        </div>
        <div class="buttons">
          <button type="button" id="cancelar" (click)="onCancel()">Cancelar</button>
          <button type="submit"  id="agregar" >Agregar</button>
        </div>
      </form>
    </div>
    </div>
  </div>