/* You can add global styles to this file, and also import other style files */
:root{

    --darkwhite:#eaeaea;
    --blue: #EFF5FC;
    --grey:#a5a5a5;
    --yellow:#fec702;
  
    --smallest:13px;
    --sm:14px;
    --md:16px;
    --lg:18px;
  
  }

  body{
  
    font-family: "Quicksand", sans-serif ;
  
    margin: 0;

    
  
  }


  .mat-mdc-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;


  }

  form-left[_ngcontent-ng-c4234109580] input[_ngcontent-ng-c4234109580] {
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
  border: 1px solid var(--grey) !important;
}





.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--grey) !important;
}

.mat-mdc-text-field-wrapper {
  height: 40px !important;
  flex: auto;
  will-change: auto;

}




/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.custom-datepicker-toggle-icon .mat-datepicker-toggle-default-icon {
  background-image: url('/assets/calendario.svg') ;
  /* Puedes ajustar el tamaño y otras propiedades según sea necesario */
  background-size: cover;
  width: 24px; /* Ajusta el tamaño del icono */
  height: 24px;
  stroke-width: 1px !important;
}

.mat-datepicker-toggle .mat-icon {
  /* Ajusta el grosor de las líneas */
  stroke-width: 1px !important;
}

