<div class="dashboard1">

  <div class="navegation-container">
    <nav class="navegation">
      <div class="data-container">
        <img src="/assets/datos-generales.svg" alt="" />
        <h2>DATOS</h2>
      </div>

      <div class="plan-container">
        <img src="/assets/plandetrabajo.svg" alt="" />
        <h2>PLAN</h2>
      </div>
    </nav>
    <div class="divisory-line">
      <hr />
    </div>
  </div>

  <div class="form">
    <div class="titulo-container">

      <!-- Formulario Izquierdo -->
      <div class="form-left">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="nombre" for="idsistema">ID Sistema ORC's</label>
            <input placeholder="#000" type="idsistema" id="idsistema" name="idsistema" [(ngModel)]="formData.idsistema"
              class="form-control" />
          </div>

          <div class="form-group">
            <label for="nombre">Nombre del proyecto</label>
            <input type="nombre" id="nombre" name="nombre" [(ngModel)]="formData.nombre" class="form-control" />
          </div>

          <div class="form-group">
            <label for="descripcion">Descripción del proyecto</label>
            <input type="descripcion" id="descripcion" name="descripcion" [(ngModel)]="formData.descripcion"
              class="form-control" />
          </div>

          <div class="form-group">
            <label for="objetivos">Objetivos a los que contribuye el proyecto</label>
            <input type="objetivos" id="objetivos" name="objetivos" [(ngModel)]="formData.objetivos"
              class="form-control" />
          </div>

          <div class="fechas-container">
            <div class="fechainicio">
              <label class="fechalabel" for="fechainicio">Fecha Inicio</label>
              <img class="informacionsvg" src="/assets/informacion.svg" alt="informacion" />
            </div>

            <div class="fechafinal">
              <label class="fechalabel" for="fechafinal">Fecha Fin</label>
              <img class="informacionsvg" src="/assets/informacion.svg" alt="informacion" />
            </div>
          </div>

          <div class="datepicker-container">
            <mat-form-field class="datepicker-left">
              <!-- <mat-label>Choose a date</mat-label> -->
              <!-- <input class="datepicker-input" matInput [matDatepicker]="picker"> -->
              <input class="datepicker-input" type="text" matInput [matDatepicker]="picker1" />

              <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="datepicker-right">
              <!-- <mat-label>Choose a date</mat-label> -->
              <!-- <input class="datepicker-input" matInput [matDatepicker]="picker"> -->
              <input class="datepicker-input" type="text" matInput [matDatepicker]="picker2" />

              <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>

          <!-- <div class="form-group">
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" [(ngModel)]="formData.mensaje" class="form-control"></textarea>
          </div> -->

          <!-- <button type="submit" class="btn btn-primary">Enviar</button> -->

          <div class="example-button-row">
            <button mat-flat-button color="primary">
              Prioridad de Proyecto
            </button>
          </div>
        </form>
      </div>


      <!-- Formulario Derecho -->
     

      
      

      <div class="form-right">
        <form (ngSubmit)="onSubmit()">

          <div class="primerbloque">

            <div class="form-group" id="idproyecto">
              <label class="nombre" for="idproyecto">ID Proyecto</label>
              <input class="idproyecto" placeholder="Escribe el número de ID Proyectos Sipres" type="idsistema"
                id="idsistema" name="idsistema" [(ngModel)]="formData.idsistema" class="form-control" />
            </div>

            <div class="example-button-row botonderecho">
              <button mat-flat-button color="primary">Buscar Proyecto</button>
            </div>

          </div>



          <div class="form-group">
            <label for="nombre">Nombre del proyecto</label>
            <input type="nombre" id="nombre" name="nombre" [(ngModel)]="formData.nombre" class="form-control" />
          </div>

          <div class="form-group">
            <label for="descripcion">Descripción del proyecto</label>
            <input type="text" id="descripcion" name="descripcion" [(ngModel)]="formData.descripcion"
              class="form-control" />
          </div>




          <div class="ultimobloque">

            <div class="form-group" id="fechacreacion">
              <label for="objetivos">Fecha de creación</label>
              <input placeholder="dd/mm/aaa" type="text" id="objetivos" name="objetivos" [(ngModel)]="formData.objetivos"
                class="form-control" />
            </div>


            <div class="titulos" id="titulos" >

              <div class="form-group capex">
                <label for="capex">Capex</label>
                <input type="text" id="capex" name="capex" [(ngModel)]="formData.objetivos" class="form-control" />
              </div>
  
              <div class="form-group opex">
                <label for="opex">Opex</label>
                <input type="text" id="opex" name="opex" [(ngModel)]="formData.objetivos" class="form-control" />
              </div>

            </div>

            
            
            
          </div>

          <div class="firmas">

            <div class="pilar">
              <p>Pilar del Proyecto</p>
              <hr>
            </div>

            <div class="clasificacion" >
              <p>Clasificación Comité de Inversión</p>
              <hr>
            </div>
          </div>
          






        </form>

      </div>


    </div>




  </div>


  <!-- //FORMULARIO INFERIOR -->
  <div class="formdown">
    <div class="formdown-container">
      <div class="threeform">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nombre">Responsables del proyecto</label>
            <input type="responsables" id="responsables" name="responsables" [(ngModel)]="formData2.nombre"
              class="form-control" placeholder="Agregar responsables de proyecto..." />
          </div>

          <div class="form-group">
            <label for="administrador">Administrador</label>
            <input type="administrador" id="administrador" name="administrador" [(ngModel)]="formData2.descripcion"
              class="form-control" placeholder="Agregar administrador..." />
          </div>

          <div class="form-group">
            <label for="involucrados">Involucrados (Opcional)</label>
            <input type="involucrados" id="involucrados" name="involucrados" [(ngModel)]="formData2.objetivos"
              class="form-control" placeholder="Agregar involucrado..." />
          </div>

          <!-- <div class="form-group">
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" [(ngModel)]="formData.mensaje" class="form-control"></textarea>
      </div> -->

          <!-- <button type="submit" class="btn btn-primary">Enviar</button> -->

        </form>
      </div>
    </div>
  </div>

  <div class="agregaretapa">
    <img src="/assets/agregar.svg" alt="agregar" />
    <div>
      <span (click)="showModal()">Agregar etapa</span>
    </div>
  </div>

  <app-modal-form *ngIf="isModalVisible" (cancel)="hideModal()" (submit)="handleFormSubmit($event)"></app-modal-form>

</div>