.dashboard1 {
  padding: 0 50px 0 50px;
  margin-block-start: 60px;
  height: fit-content;
  margin-block-end: 300px;
  scroll-behavior: smooth;

}


.navegation-container {
  width: 100%;
}

.navegation {
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.data-container,
.plan-container {
  display: flex;
  align-items: center;
}

.data-container h2,
.plan-container h2 {
  font-size: var(--sm);
  font-weight: lighter;
}

.navegation img {
  width: 35;
  height: 35px;
  object-fit: cover;
  padding-inline-end: 15px;
}

.divisory-line hr {
  width: 100%;
}

/* FORMULARIO */

label {

  font-family: "Quicksand", sans-serif !important;

}

.form {
  width: 100%;
  margin-block-start: 50px;
}

.titulo-container {
  /* width: auto;     */
  display: flex;
  width: 100%;
  /* background-color: teal; */
}

.titulo-container .form-group {
  /* width: auto;     */
  margin-block-end: 15px;
}

.form-left {
  width: 50%;
  padding-right: 50px;
}


.form-left #idsistema,
#nombre,
#descripcion,
#objetivos {
  /* background: red; */
  border: 1px solid var(--grey);
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
}

.form-left #idsistema{
  background-color: var(--darkwhite);
}



.example-form-field {
  width: 100%;
  height: 45%;
}

.example-form-field-white {
  width: 100%;
  height: 45%;
  background-color: white;
}

.titulo-container h3 {
  margin: 0;
  margin-block-end: 5px;
}

/* ?Formulario correcto  */




.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-block-end: 5px;
}

.form-control {
  /* background: red; */
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #0056b3;
}



/* CALENDARIO */
/* *label */

.fechainicio,
.fechafinal {
  width: 50%;
  display: flex;
  align-items: center;

}

.fechas-container {

  height: 30px;
  margin-block-start: 20px;
  margin-block-end: 0px;
  width: 100%;
  display: flex;
}

.fechafinal {
  /* background-color: red; */
  padding-left: 60px;
}





.informacionsvg {
  display: inline-block;
  width: 20;
  height: 20px;
  object-fit: cover;
  margin-inline-start: 15px;

  padding-block-end: 8px;
}

/* *label */




.datepicker-container {
  width: 100%;
  display: flex;
  margin: 0;
}

.datepicker-left {
  width: 50%;
  padding-inline-end: 30px;
}

.datepicker-right {
  width: 50%;
  padding-inline-start: 30px;
}

/* .datepicker-input{
   
    border: 1px solid white;

  } */



/* BOTON */

.example-button-row button {
  margin-block-start: 5px;
  margin-right: 8px;
  border-radius: 30px;
  width: 21%;
  height: 50px;
  font-size: var(--smallest);
  text-align: center;
  color: black;
  background-color: var(--yellow);
  font-family: "Quicksand", sans-serif;




}


/* FORMULARIO INFERIOR */

.formdown {
  width: 100%;
  margin-block-start: 50px;

}

.threeform form {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.threeform .form-group {

  width: 30%;

}

.threeform .form-group label {

  margin-block-end: 13px;

}

.threeform .form-group input {
  border: 1px solid var(--grey);
  height: 40px;
  border-radius: 3px;
  cursor: pointer;




}

/* AGREGAR ETAPA */

.agregaretapa {
  /* background: red; */
  display: flex;
  height: fit-content;
  align-items: center;
  margin-block-start: 35px;
  width: 20%;

}

.agregaretapa img {

  display: inline-block;
  height: 30px;
  width: 30px;
  margin-inline-end: 10px;


}


/* FORMULARIO DERECHO */

.form-right {
  width: 50%;
  padding-left: 50px;
  height: fit-content;
}

#inputprojectid{
  
  border: 1px solid var(--grey);
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
}

/* #projectid {
  background-color: white;
} */

 .form-right {
  margin: 0 auto;
  padding: 20px;
  background-color: var(--blue);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 


.form-right #projectid {

  width: 100%;
  
}


.form-right #creationdate {

  
  width: 50%;

}

.form-right #projectid {

  width: 50%;

}


.form-right .example-button-row {
  width: 50%;

}

.form-right .example-button-row button {
  width: 49%;


}

.form-right .botonderecho {
margin-inline-start: 40px;

}

.form-right .primerbloque {

  width: 100%;
  display: flex;
  align-items: center;

}

.form-right .ultimobloque {

  display: flex;
  width: 100%;
  margin-block-end: 10px;

}

.form-right #projectname, #description {
  border: 1px solid var(--grey);
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--darkwhite);
}

.form-right .ultimobloque input{

  border: 1px solid var(--grey);
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--darkwhite);


}

.form-right #title {

  display: flex;
  width: 50%;

}


#title .capex,
.opex {
  width: 100%;

}

#title .capex {

  padding-inline-start: 30px;
  padding-inline-end: 15px;

}


.form-right .firmas {
  display: flex;
  width: 100%;
  margin-block-end: 0px;

}



.form-right .firmas .pilar,
.clasificacion {

  width: 50%;



}

.form-right  .firmas p {

  margin-block-end: 60px;
}



.form-right .firmas .clasificacion  {

  padding-inline-start: 30px;


} 

/* app-modal-form{
  display: flex;
  align-items: center;
  justify-content: center;
} */




.mat-datepicker-toggle .mat-icon {
  stroke-width: 1px;
}

/* LISTA DE OBJETIVOS */

.objetivos-dropdown {
  display: block;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px; 
  overflow-y: auto;
  width: 100%; 
  z-index: 1000; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.objetivos-dropdown .opcion {
  padding: 8px 12px;
  cursor: pointer;
}

.objetivos-dropdown .opcion:hover {
  background-color: #f1f1f1;
}

.form-group {
  position: relative; 
}

.form-control.active {
  background-color: var(--yellow)

  
}

.objetivos-dropdown::-webkit-scrollbar {
  width: 12px;
}

.objetivos-dropdown::-webkit-scrollbar-thumb {
  background-color: var(--yellow); /* Color del scrollbar */
  border-radius: 10px;
  border: 3px solid #fff; /* Espacio alrededor del scrollbar */
}

.objetivos-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track del scrollbar */
}


/* agregartabla */
.agregaretapa{
  margin-block-end: 60px;
}

