
.dashboard1{

    padding: 0 50px 0 50px;
    margin-block-start: 100px;
}

.navegation-container{
    
    width: 100%;

}

.navegation {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr  1fr;

}




.data-container, .plan-container {
    display: flex;
    align-items: center;
    
}       



.data-container h2, .plan-container h2 {

    font-size: var(--sm);
    font-weight: lighter;
   

}


.navegation img{
    width: 35;
    height: 35px;
    object-fit: cover;
    padding-inline-end: 15px;
}

.divisory-line hr{
    width: 100%;

}



/* FORMULARIO */

.titulo-form1{
    width: 100%;
    background: red;
    padding-right: 50px;

}

.titulo-container {
    display: flex;
    justify-content: space-between;
}

.example-form-field {
    width: 100%;
  }




  .titulo-container h3{

    margin: 0;
    margin-block-end: 5px;

  }