.table-container {
    overflow-x: auto;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px; 
  }
  
  th, td {
    text-align: center;
  }
  
  th {
    background-color: var(--grey);
    height: 40px;
  }
  
  td {
    background-color: #fff;
  }
  
  table.styled-table th {
    position: sticky;
    top: 0;
  }
  
  
  